/*
CTC Separate Stylesheet
*/

li > a {
	text-transform: none !important;
}

a.social-icons, a.social-icons:before {
	display: inline-block;
}

a.social-icons {
	transition: transform 0.1s ease-out;
}

a.social-icons:hover {
	transform: translateY(-.1em);
}

a.social-icons[href*="springrole"]:before {
	content: "\f299";
	transform: scale(-1, 1);
}

a.social-icons[href*="gitlab"]:before {
	content: "\f296";
}
