/*
Theme Name: Agama Blue
Theme URI: http://www.theme-vision.com/agama-blue/
Description: Agama Blue is child theme of Agama. Powered by Bootstrap 4 framework. Check demo: http://demo.theme-vision.com/
Version: 1.1.3
Author: Theme Vision
Author URI: https://theme-vision.com/
Template: agama
Template Version: 1.6.2
Tags: one-column, two-columns, right-sidebar, left-sidebar, grid-layout, flexible-header, accessibility-ready, buddypress, custom-background, custom-header, custom-logo, custom-menu, custom-colors, editor-style, featured-image-header, featured-images, full-width-template, footer-widgets, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, education, entertainment, holiday
Text Domain: agama-blue
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

body.home.blog .vision-row {
    padding-top: 0;
}

.center { text-align: center !important; }

/* Navigations Global
 *----------------------------------------------*/
 nav[role="navigation"] a, 
 a[rel="next"], 
 a[rel="prev"] { 
	font-family: 'Roboto Condensed', sans-serif; 
	font-size: 15px !important;
	font-weight: 700;
}

/* Sticky Navigation
 *----------------------------------------------*/
 .site-header .sticky-header nav a { color: #00a4d0; }
 
 /* Heading Block - with Subtitle
  *----------------------------------------------*/
.heading-block { margin-bottom: 50px; }
.heading-block h1,
.heading-block h2,
.heading-block h3,
.heading-block h4,
.emphasis-title h1,
.emphasis-title h2 {
	margin-bottom: 0;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}
.emphasis-title h1,
.emphasis-title h2 {
	font-weight: 400;
	letter-spacing: 0;
	text-transform: none;
}
.heading-block h1 { font-size: 32px; }
.heading-block h2 { font-size: 30px; }
.heading-block h3 { font-size: 26px; }
.heading-block h4 {
	font-size: 20px;
	font-weight: 700;
}
.heading-block > span:not(.before-heading) {
	display: block;
	margin-top: 10px;
	font-weight: 300;
	color: #777;
}
.heading-block .before-heading { margin-bottom: 7px; }
.heading-block.center > span,
.heading-block.title-center > span,
.center .heading-block > span {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
.heading-block h1 + span { font-size: 24px; }
.heading-block h2 + span { font-size: 22px; }
.heading-block h3 + span,
.heading-block h4 + span { font-size: 20px; }
.heading-block ~ p:not(.lead) { font-size: 15px; }
.heading-block:after {
	content: '';
	display: block;
	margin-top: 30px;
	width: 40px;
	border-top: 2px solid #444;
}
.center .heading-block:after,
.heading-block.center:after,
.heading-block.title-center:after { margin: 30px auto 0; }
.heading-block.noborder:after,
.heading-block.nobottomborder:after { display: none; }
.heading-block.border-color:after { border-color: #1ABC9C; }

/* Blog
 *----------------------------------------------*/
.section-blog {
    background-color: #F9F9F9;
    width: 100vw;
    height: 178px;
    position: relative;
    margin-left: -50vw;
    margin-bottom: 50px;
    left: 50%;
}
.container-blog { 
	margin-top: 230px; 
	margin-bottom: 50px; 
}
.container-blog .article-wrapper {
    margin-bottom: 0 !important;
    border-bottom: none !important;
}
.container-blog .more-link {
	margin-top: 20px;
}